// COLOR VARIABLES
$primary_color: #408c40;
$secondary_color: #235223;
$ticker_caption: $primary_color;
$white_color: #fff;
// FONT FAMILY

/* Footer Color */

$footer_background: #303440;
$footer_color: #fff;
$primary_font_family: 'Poppins', serif;

//$primary_font_family: 'Roboto Slab, sanf-serif';

$top_header_background: rgb(48, 52, 64);
$nav_background_color: rgb(48, 52, 64);
$nav_sticky_background_color: rgb(35, 47, 64);
$nav_menu_color: #eee;
